{# ABOUTME: Landing page layout wrapping base template. #}
{# ABOUTME: Provides the content block for the marketing-style homepage. #}

{% extends "base.njk" %}

{% block content %}
{{ content | safe }}
{% endblock %}
